/**
 * Efectos
 */

img.zoomIn {
  transition: all 0.5s ease;
  &:hover {
    transform:scale(1.15);
  }
}

div.zoomIn {
  position: relative;
  a {
    display: block;
    line-height: 0;
    overflow: hidden;
    border: 3px solid #1496bb;
  }
  img {
    transition: all 0.5s ease;
    &:hover {
      transform:scale(1.15);
    }
  }
  &:hover:after {
    background: url('../images/zoom.png') no-repeat center center;
    bottom: 3px;
    content: "";
    height: 35px;
    position: absolute;
    right: 3px;
    width: 35px;
  }
}

.isHidden, .fadeInLeft, .fadeInRight, .fadeInBottom, .fadeInTop {
  visibility: hidden;
}

span.isHidden {
  display: none;
}