/*
 * Fuentes
 */

@font-face {
  font-family: 'Soopafresh';
  src:url('../fonts/Soopafresh.ttf.woff') format('woff'),
    url('../fonts/Soopafresh.ttf.svg#Soopafresh') format('svg'),
    url('../fonts/Soopafresh.ttf.eot'),
    url('../fonts/Soopafresh.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}