/**
 * OskO
 */

// Dependencias
@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'elf';

// Elements
@import 'elements/grid';
@import 'elements/header';
@import 'elements/footer';
@import 'elements/markdown';
@import 'elements/map';
@import 'elements/links';
@import 'elements/hearts';

// Helpers
@import 'helpers/borders';
@import 'helpers/position';
@import 'helpers/shadows';
@import 'helpers/backgrounds';

// Generalidades
body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

#instantclick-bar {
  background: $primary;
  height: 10px;
}

// Print
@import 'print';