/**
 * OskO
 */

// Dependencias
@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'elf';
@import 'include-media';
@import 'lightbox';
@import 'nivo-theme';
@import 'nivo-slider';

// Elements
@import 'elements/grid';
@import 'elements/header';
@import 'elements/footer';
@import 'elements/markdown';
@import 'elements/map';
@import 'elements/links';
@import 'elements/hearts';

// Helpers
@import 'helpers/borders';
@import 'helpers/position';
@import 'helpers/shadows';
@import 'helpers/backgrounds';
@import 'helpers/efects';

// Generalidades
body {
  font-family: 'Lato', sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
  //color: #333;
}

// Print
@import 'print';

#stepper {
  position: absolute;
  right: 0;
  top: 0;
}