/*
 * Grid
 *
 * Basada en Elf
 *
 * debug($color: 'blue')
 * column($ratio: 1, $gutter: $elf-gutter)
 * cycle($item: 0, $uncycle: 0, $gutter: $elf-gutter)
 * offset($ratio: 0, $column: true, $gutter: $elf-gutter)
 * span($ratio: 1)
 * shift($ratio: 1, $column: true, $gutter: $elf-gutter)
 * unshift()
 * align-children($direction: 'both')
 */

//@include debug;

.container {
  overflow: hidden;
  max-width: 830px;
  margin: 0 auto;
}

.row {
  @include column(1);
  &:first-child {
    margin-top: 20px;
  }
}

.small, .mid, .third, .full {
  @include column(1);
  min-height: 100px;
  margin: 10px 0;
  overflow: hidden;
  p {
    margin: 0;
    padding: 10px;
  }
  h3 {
    margin: 10px;
  }
}

.small {
  @include media('>=tablet','<desktop') {
    @include column(1/2);
    @include cycle(2);
  }
  @include media('>=desktop'){
    @include column(1/4);
    @include cycle(4);
  }
}

.mid {
  @include media('>=desktop') {
    @include column(1/2);
  }
}

.third {
  @include media('>=tablet','<desktop') {
    @include column(1/2);
    //@include cycle(2);
  }
  @include media('>=desktop') {
    @include column(1/3);
    @include cycle(3);
  }
}

.small-push {
  @include media('>=desktop'){
    @include offset(1/4);
  }
}

.mid-push {
  @include media('>=desktop'){
    @include offset(1/2);
  }
}

.third-push {
  @include media('>=desktop'){
    @include offset(1/6);
  }
}