/*
 * Header Styles
 */

.header {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.header-title,
.header-subtitle {
  color: white;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.header-image {
  max-height: 128px;
  max-width: 128px;
  margin-right: 10px;
}

/*
 * SocialNav
 */

.social {
  display: inline-block;
  position: relative;
  right: 0;
  z-index: 1;
}

.socialList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.socialItem {
  display: inline-block;
  margin: 0 5px;
}

.socialLink {
  background-image: url('/images/social.png');
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 54px;
}

.socialFacebook {
  background-position: 0 -50px;
  &:hover {
    background-position: 0 0;
  }
}

.socialTwitter {
  background-position: -54px -50px;
  &:hover {
    background-position: -54px 0;
  }
}

/*
 * Helpers/Effects
 */

.particle {
  border-radius: 50%;
  height:50px;
  position:absolute;
  width:50px;
}

.left {
  float: left;
}

.right {
  float: right;
}