/*
 * Header Styles
 */

.header {
  //overflow: hidden;
  position: relative;
  padding: 5px 0;
}

.header:after {
  bottom: -10px;
  box-shadow: inset 0 9px 9px -7px rgba(0,0,0,0.7);
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.header-title,
.header-subtitle {
  color: white;
  line-height: 80px;
  margin: 0;
  padding: 0;
}

.header-title {
  font-family: 'Soopafresh', serif;
  font-size: 2.5em;
}

.header-image {
  max-height: 80px;
  max-width: 80px;
  margin-right: 10px;
}

/*
 * SocialNav
 */

.social {
  display: inline-block;
  position: relative;
  right: 0;
  margin: 13px auto;
  z-index: 1;
}

.socialList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.socialItem {
  display: inline-block;
  margin: 0 5px;
}

.socialLink {
  background-image: url('/images/social.png');
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 54px;
}

.socialFacebook {
  background-position: 0 -50px;
  &:hover {
    background-position: 0 0;
  }
}

.socialTwitter {
  background-position: -54px -50px;
  &:hover {
    background-position: -54px 0;
  }
}

/*
 * Helpers/Effects
 */

.particle {
  border-radius: 50%;
  height:10px;
  position:absolute;
  width:10px;
  pointer-events:none;
}

.left {
  float: left;
}

.right {
  float: right;
}